body {
  margin: 0;
  background-image: url('/assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;


}

h1 { 
  color: brown;
  margin-left: 20px;
  margin-down: 40px;
}

h2 {
  color: brown;
  font-size: 21px;
}

p {
  color: brown;
  margin-left: 50px;
}

a {
    margin-left: 15 px;
}
div {
  background-color: grey;
  width: 500px;
  padding: 25px;
  margin: 300px;
  border: 2px solid black
}

a {     margin-left: 15 px;

}
